<div id="content">
  <h2>Registro</h2>
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="clearfix">
      <%= f.label :username, "Usuario" %>
      <div class="input">
        <%= f.text_field :username %>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :email, "Correo electr칩nico" %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :password, "Contrase침a" %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :password_confirmation, "Confirmaci칩n de contrase침a" %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  
    <div class="actions"><%= f.submit "Registrarse", :class => "btn primary" %></div>
  <% end %>
  
</div>

<div class="sidebar">
  <ul>
    <li><%= render :partial => "devise/shared/links" %></li>
  </ul>
</div>
