<div id="content">
  <h2>Iniciar sesión</h2>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div class="clearfix">
      <%= f.label :email, "Correo electrónico" %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :password, "Contraseña" %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>
  
    <% if devise_mapping.rememberable? -%>
    <div class="clearfix">
      <%= f.label :remember_me, "Recuérdame" %>
      <div class="input">
        <%= f.check_box :remember_me %>
      </div>
    </div>
    <% end -%>
  
    <div class="actions"><%= f.submit "Iniciar sesión", :class => "btn primary" %></div>
  <% end %>
  
</div>

<div class="sidebar">
  <ul>
    <li><%= render :partial => "devise/shared/links" %></li>
  </ul>
</div>
