<div id="content">
  <%= form_for @offer, :html => { :multipart => true } do |f| %>
    <% if @offer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
  
        <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <fieldset>
    <legend><%= formtype %> oferta precaria</legend>
  
    <div class="clearfix">
      <%= f.label :link, "Direccion (URL)" %>
      <div class="input">
        <% if params[:offer_link] %>
          <%= f.text_field :link, :class => "span7", :autofocus => "autofocus", :value => params[:offer_link] %>
        <% else %>
          <%= f.text_field :link, :class => "span7", :autofocus => "autofocus" %>
        <% end %>
        <span class="add-on">
          <%= image_tag "ok.gif", :id => "ok", :style => "vertical-align:middle;", :class => "hidden" %>
          <%= image_tag "ko.gif", :id => "ko", :style => "vertical-align:middle;", :class => "hidden" %>
        </span>
      </div>
    </div>

    <div class="clearfix">
      <div class="input">
        <%= link_to "Comprobar", "#", :id => "check_link", :class => "btn primary" %>
      </div>
    </div>
  
    <div class="clearfix tohide">
      <%= f.label :title, "Título" %>
      <div class="input">
        <%= f.text_field :title, :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :description, "Descripción" %>
      <div class="input">
        <%= f.text_area :description, :rows => "10", :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :title, "Estudios" %>
      <div class="input">
        <%= f.text_field :studies, :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :title, "Experiencia" %>
      <div class="input">
        <%= f.text_field :experience, :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :description, "Requisitos mínimos" %>
      <div class="input">
        <%= f.text_area :requisites_min, :rows => "10", :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :description, "Requisitos deseados" %>
      <div class="input">
        <%= f.text_area :requisites_des, :rows => "10", :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :title, "Tipo de contrato" %>
      <div class="input">
        <%= f.text_field :contract_type, :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :title, "Duración del contrato" %>
      <div class="input">
        <%= f.text_field :contract_duration, :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :title, "Horario" %>
      <div class="input">
        <%= f.text_field :contract_hour, :class => "span7" %>
      </div>
    </div>

    <div class="clearfix tohide">
      <%= f.label :title, "Salario" %>
      <div class="input">
        <%= f.text_field :salary, :class => "span7" %>
      </div>
    </div>

    <div class="clearfix">
      <div class="input">
        <%= recaptcha_tags %>
      </div>
    </div>


  
    <div class="actions">
      <%= f.submit "Crear oferta", :class => "btn primary" %>
    </div>
  </fieldset>
  <% end %>
</div>

<div class="sidebar">
  <ul>
    <li>Pon la <b>dirección de la oferta (URL)</b> junto con un <b>resumen</b>. Si es de un sitio que conozcamos traeremos los datos y un pantallazo.</li>
    <li id="loading" class="hidden">
      Procesando información y pantallazo
      <%= image_tag "spinner-big.gif", :class => "center spinner" %>
      <i>Estamos trabajando en ellou</i>
    </li>
    <li id="haveit" class="hidden">
      <p>Ya tenemos esa oferta :(</p>
      <p>Prueba con otra</p>
    </li>
  </ul>
</div>
