<div id="content">
  <%= form_for @offer, :html => { :multipart => true } do |f| %>
    <% if @offer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
  
        <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <fieldset>
    <legend><%= formtype %> oferta precaria</legend>
  
    <div class="clearfix">
      <%= f.label :link, "Direccion (URL)" %>
      <div class="input">
        <%= f.text_field :link, :class => "span7" %>
        <span class="add-on">
          <%= image_tag "ok.gif", :id => "ok", :style => "vertical-align:middle;", :class => "hidden" %>
          <%= image_tag "ko.gif", :id => "ko", :style => "vertical-align:middle;", :class => "hidden" %>
        </span>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :summary, "Resumen" %>
      <div class="input">
        <%= f.text_area :summary, :rows => "10", :class => "span7" %>
      </div>
    </div>

    <div class="clearfix hidden">
      <%= f.label :title, "Título" %>
      <div class="input">
        <%= f.text_field :title, :class => "span7" %>
      </div>
    </div>

  
    <div class="clearfix hidden">
      <%= f.label :description, "Descripción" %>
      <div class="input">
        <%= f.text_area :description, :rows => "20", :class => "span7" %>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "Crear oferta", :class => "btn primary" %>
    </div>
  </fieldset>
  <% end %>
</div>

<div class="sidebar">
  <ul>
    <li>Pon la <b>dirección de la oferta (URL)</b> junto con un <b>resumen</b>. Si es de un sitio que conozcamos traeremos los datos y un pantallazo.</li>
  </ul>
</div>
