<div class="span12">
  <%= form_for @offer, :html => { :multipart => true } do |f| %>
    <% if @offer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
  
        <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <fieldset>
    <legend><%= formtype %> oferta precaria</legend>
  
    <div class="clearfix">
      <%= f.label :link, "Enlace" %>
      <div class="input">
        <%= f.text_field :link, :class => "span10" %>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :title, "Título" %>
      <div class="input">
        <%= f.text_field :title, :class => "span10" %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :summary, "Resumen" %>
      <div class="input">
        <%= f.text_area :summary, :rows => "10", :class => "span10" %>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :description, "Descripción" %>
      <div class="input">
        <%= f.text_area :description, :rows => "20", :class => "span10" %>
      </div>
    </div>
  
    <div class="clearfix">
      <%= f.label :screenshot, "Pantallazo" %>
      <div class="input">
        <%= f.file_field :screenshot %>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "Crear oferta", :class => "btn primary" %>
    </div>
  </fieldset>
  <% end %>
</div>
