<table cellspacing="0" class="listado top-offers span9" summary="Ofertas de empleo destacadas" id="table_results_destacadas">
  <thead>
    <tr>
      <th></th>
      <th>Puesto vacante</th>
      <th>Provincia</th>
    </tr>
  </thead>    
  <tbody>
    <% offers.each do |offer| %>
      <tr>
        <td>
            <% if has_voted(offer) %>
              <%= link_to (image_tag "downvoted.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => offer.id.to_s  %>
            <% else %>
              <%= link_to (image_tag "downvote.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => offer.id.to_s  %>
            <% end %>
          <span class="votes-count" data-offer="<%= offer.id.to_s %>"><%= offer.votes.count %></span>
        </td>
        <td class="vacant">
          <div class="cell-text">
            <%= link_to offer.title, offer, :class => "list-title" %>
          </div>
        </td>
        <td class="poblation">
          <div class="cell-text"><%= offer.province %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
