<div id="content" class="full">
  <h1>Mostrando ofertas</h1>
  
  <table class="zebra-striped">
    <thead>
      <tr>
        <th>¿Es precaria?</th>
        <th>Título</th>
        <th>Resumen</th>
      </tr>
    </thead>
  
    <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td>
          <%= link_to (image_tag "upvote.png"), '#', :class => "vote", "data-direction" => "up", "data-offer" => offer.id.to_s  %> <br />
   	  <span class="votes-count" data-offer="<%= offer.id.to_s %>"><%= offer.votes_for - offer.votes_against %></span> <br />
          <%= link_to (image_tag "downvote.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => offer.id.to_s  %><br />
          </div>
        </td>
        <td><%= link_to offer.title, offer %></td>
        <td><%= offer.summary %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <br />
  
  <%= link_to 'Oferta nueva', new_offer_path, :class => "btn success" %>
</div>
