<h1>Mostrando ofertas</h1>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>¿Es precaria?</th>
      <th>Título</th>
      <th>Resumen</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @offers.each do |offer| %>
    <tr>
      <td>
        <%= link_to (image_tag "upvote.png"), '#', :class => "vote", :id => "up-offer-"+ offer.id.to_s %> <br />
        <%= link_to (image_tag "downvote.png"), '#', :class => "vote", :id => "down-offer-"+ offer.id.to_s %><br />
 	<div id="votes-count"><%= offer.votes_for - offer.votes_against %>
        </div>
      </td>
      <td><%= link_to offer.title, offer.link %></td>
      <td><%= offer.summary %></td>
      <td><%= link_to 'Comentar', offer, :class => "btn primary" %></td>
      <td><%= link_to 'Editar', edit_offer_path(offer), :class => "btn primary" %></td>
      <td><%= link_to 'Borrar', offer, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Oferta nueva', new_offer_path, :class => "btn success" %>
