<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @offer.link %>
</p>

<p>
  <b>Title:</b>
  <%= @offer.title %>
</p>

<p>
  <b>Screenshot:</b>
  <%= link_to(image_tag(@offer.screenshot.url(:thumb)), @offer.screenshot.url ) %>
</p>

<p>
  <b>Summary:</b>
  <%= @offer.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>


<h2>Comentarios</h2>
<% if @offer.comments %>
  <ul>
  <% @offer.comments.each do |comment| %>
    <li>
      <b><%= comment.user.email %></b> dijo:
      <%= comment.body %>
    </li>
  <% end %>
  </ul>
<% else %>
  Sin comentarios
<% end %>

<h2> Comentar </h2>
<%= form_for :comment, :url => comment_offer_path do |f|  %>
  <%= f.text_area :body, :rows => "10", :class => "span15" %>
  <div class="actions">
    <%= f.submit "Crear comentario", :class => "btn primary" %>
  </div>
<% end %>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
