<div id="content" class="full">


 <h1 class="title"><%= link_to @offer.title, @offer.link %></h1>

  <div class="infobox well">
    <div style="text-align:center; margin-left:auto; margin-right:auto; margin:1em;">

      <% if has_voted(@offer) %>
        <%= link_to (image_tag "downvoted.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => @offer.id.to_s  %>
      <% else %>
        <%= link_to (image_tag "downvote.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => @offer.id.to_s  %>
      <% end %>
     <span class="votes-count" data-offer="<%= @offer.id.to_s %>"><%= @offer.votes_count %></span> <br />
   </div>

    <% if @offer.screenshot? %>
      <%= link_to @offer.screenshot.url, :class => "label label-success" do  %>
        <i class="icon-camera"></i>
        Ver pantallazo
      <% end %>
    <% end %>
    <br />
    <%= link_to  @offer.link, :class => "label label-alert" do %>
      <i class="icon-align-justify"></i>
      Ver oferta original
    <% end %>
  </div>

  <table class="table" style="margin: 2em; width: 75%;">
    <%= render :partial => "field", :locals => {:field => @offer.description, :description => "Descripción"} %>
    <%= render :partial => "field", :locals => {:field => @offer.province, :description => "Provincia"} %>
    <%= render :partial => "field", :locals => {:field => @offer.studies, :description => "Estudios"} %>
    <%= render :partial => "field", :locals => {:field => @offer.experience, :description => "Experiencia"} %>
    <%= render :partial => "field", :locals => {:field => @offer.requisites_min, :description => "Requisitos mínimos"} %>
    <%= render :partial => "field", :locals => {:field => @offer.requisites_des, :description => "Requisitos deseados"} %>
    <%= render :partial => "field", :locals => {:field => @offer.contract_type, :description => "Tipo de contrato"} %>
    <%= render :partial => "field", :locals => {:field => @offer.contract_duration, :description => "Duración de contrato"} %>
    <%= render :partial => "field", :locals => {:field => @offer.contract_hour, :description => "Horario"} %>
    <%= render :partial => "field", :locals => {:field => @offer.salary, :description => "Salario"} %>
  </table>

</div>

<div style="display:block; margin-left:auto; margin-right:auto; padding:2em;">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'precajobs'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
