<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @offer.link %>
</p>

<p>
  <b>Title:</b>
  <%= @offer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
