<div id="content" class="full">

 <div class="left">
   <%# link_to (image_tag "upvote.png"), '#', :class => "vote", "data-direction" => "up", "data-offer" => @offer.id.to_s  %> <br />
   <%= link_to (image_tag "downvote.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => @offer.id.to_s  %><br />
   <span class="votes-count" data-offer="<%= @offer.id.to_s %>"><%= @offer.votes_for - @offer.votes_against %></span> <br />
 </div>

 <h1 class="title"><%= link_to @offer.title, @offer.link %></h1>

  <div class="right">
    <% if @offer.screenshot? %>
      <%= link_to "Ver pantallazo", @offer.screenshot.url, :class => "label label-success" %>
    <% end %>
    <%= link_to  @offer.link, :class => "label label-alert" do %>
      Ver oferta original - bla
    <% end %>
  </div>

  <table class="datostabulados">
    <%= render :partial => "field", :locals => {:field => @offer.description, :description => "Descripción"} %>
    <%= render :partial => "field", :locals => {:field => @offer.province, :description => "Provincia"} %>
    <%= render :partial => "field", :locals => {:field => @offer.studies, :description => "Estudios"} %>
    <%= render :partial => "field", :locals => {:field => @offer.experience, :description => "Experiencia"} %>
    <%= render :partial => "field", :locals => {:field => @offer.requisites_min, :description => "Requisitos mínimos"} %>
    <%= render :partial => "field", :locals => {:field => @offer.requisites_des, :description => "Requisitos deseados"} %>
    <%= render :partial => "field", :locals => {:field => @offer.contract_type, :description => "Tipo de contrato"} %>
    <%= render :partial => "field", :locals => {:field => @offer.contract_duration, :description => "Duración de contrato"} %>
    <%= render :partial => "field", :locals => {:field => @offer.contract_hour, :description => "Horario"} %>
    <%= render :partial => "field", :locals => {:field => @offer.salary, :description => "Salario"} %>
  </table>

</div>

<% if @offer.comments.exists? %>
  <div id="content" class="mt1 full">
    <%= render :partial => "comments/list", :locals => { :resource => @offer } %>
  </div>
<% end %>

<div id="content" class="mt1">
  <%= render :partial => "comments/form" %>
</div>
