<p id="notice"><%= notice %></p>

<div id="content">

<p>
  <b>Link:</b>
  <%= @offer.link %>
</p>

<p>
  <b>Title:</b>
  <%= @offer.title %>
</p>

<p>
  <b>Screenshot:</b>
  <%= link_to(image_tag(@offer.screenshot.url(:thumb)), @offer.screenshot.url ) %>
</p>

<p>
  <b>Summary:</b>
  <%= @offer.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>


</div>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
