<p id="notice"><%= notice %></p>

<div id="content" class="full">

 <h1><%= link_to @offer.title, @offer.link %></h1>

 <%= link_to(image_tag(@offer.screenshot.url(:thumb), :class => "left"), @offer.screenshot.url, :class => "left screenshot" ) %>
 <div class="right"><%= @offer.summary %></div>
  
  <p class="left">
    <%= @offer.description %>
  </p>

</div>

