<div id="content" class="full">

 <div class="left">
   <%= link_to (image_tag "upvote.png"), '#', :class => "vote", "data-direction" => "up", "data-offer" => @offer.id.to_s  %> <br />
   <span class="votes-count" data-offer="<%= @offer.id.to_s %>"><%= @offer.votes_for - @offer.votes_against %></span> <br />
   <%= link_to (image_tag "downvote.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => @offer.id.to_s  %><br />
 </div>

 <h1 class="title"><%= link_to @offer.title, @offer.link %></h1>

 <%= link_to "Ver pantallazo", @offer.screenshot.url, :class => "label success" %>
 <%= link_to "Ver oferta original", @offer.link, :class => "label notice" %>

 <div class="left">
   <%= link_to(image_tag(@offer.screenshot.url(:thumb)), @offer.screenshot.url, :class => "screenshot" ) %>
 </div>
 <%= @offer.summary %>
  
  <p class="left">
  <hr />
    <%= @offer.description %>
  <hr />
    <ul>
      <%= raw (@offer.studies != "") ? "<li><b>Estudios</b>: " + @offer.studies + "</li>" : "" %>        
      <%= raw (@offer.experience != "") ? "<li><b>Experiencia</b>: " + @offer.experience + "</li>" : "" %>        
      <%= raw (@offer.requisites_min != "") ? "<li><b>Requisitos mínimos</b>: " + @offer.requisites_des + "</li>" : "" %>        
      <%= raw (@offer.requisites_des != "") ? "<li><b>Requisitos deseados</b>: " + @offer.requisites_des + "</li>" : "" %>        
      <%= raw (@offer.contract_type != "") ? "<li><b>Tipo de contrato</b>: " + @offer.contract_type + "</li>" : "" %>        
      <%= raw (@offer.contract_duration != "") ? "<li><b>Duración del contrato</b>: " + @offer.contract_duration + "</li>" : "" %>        
      <%= raw (@offer.contract_hour != "") ? "<li><b>Horario</b>: " + @offer.contract_hour + "</li>" : "" %>        
      <%= raw (@offer.salary != "") ? "<li><b>Salario</b>: " + @offer.salary + "</li>" : "" %>        
    </ul>
  </p>

</div>

<div id="content" class="mt1">
  <%= render :partial => "comments/list", :locals => { :resource => @offer } %>
</div>

<div class="sidebar mt1">
  <ul>
    <li><%= render :partial => "comments/form" %></li>
  </ul>
</div>


