<!DOCTYPE html>
<html>
<head>
  <title>PrecaJobs</title>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js" %>
  <%= csrf_meta_tag %>
</head>
<body style="padding-top: 60px;">

<div style="z-index: 5;" class="topbar-wrapper">
    <div data-dropdown="dropdown" class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="/">PrecaJobs</a></h3>
          <ul class="nav">
            <li class="active"><%= link_to "Ofertas", offers_path %></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#">Usuarios</a>
              <ul class="dropdown-menu">
                <li><a href="#">Registro</a></li>
                <li><a href="#">Iniciar sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
