<!DOCTYPE html>
<html>
<head>
  <title>precajobs | encuentra tu trabajo precario</title>
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/png">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">
      <header>
        <div id="header-top-wrapper">
          <div id="header-top">
            <div class="socialmedia">
              <ul>
                <li>
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://precajobs.net" data-text="PrecaJobs.net - 9 de cada 10 ofertas precarias en Internet están aqui" data-via="precajobs" data-lang="es" data-related="precajobs" data-hashtags="precajobs">Twittear</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li class="gplusone">
                </li>
                <li>
                  <div class="fb-like" data-href="http://precajobs.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                </li>
              </ul>
            </div> <!-- SOCIAL MEDIA -->
          </div> <!-- CONTENT -->
        </div> <!-- HEADER-TOP -->
        <div id="header-logo">
          <%= link_to image_tag("logo.png", :width => 150, :id => "logo", :alt => "PrecaJobs"), root_path %>
          <div id="header-vacancies">
            <strong class="vacancies"><%= Offer.count %></strong>
            <em>puestos precarios</em>
          </div>
        </div>
        <div id="main-nav">
          <ul id="offers" class="left">
            <li><%= link_to "Últimas", offers_path %></li>
            <li><%= link_to "Peores", worst_offers_path %></li>
          </ul>
          <ul id="offers" class="right">
            <li><%= link_to "Agregar una oferta", new_offer_path %></li>
          </ul>
        </div>
      </header>
      <% flash.each do |name, msg| %>
        <div class="flash-messages">
          <%= content_tag :p, msg, :class => "#{name}" %>
        </div>
      <% end %>

      <%= yield %>

    </div>

    <footer class="span12">
      PrecaJobs 2012 - Código 
    </footer>

</body>
</html>
